<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{data.Name}} - Assistant for No Man's Sky</title>
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#{{data.Colour}}" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="https://nmsassistant.com/manifest.json" />

    <link rel="preload" href="/assets/images/loader.svg" as="image">

    <link type="text/plain" rel="author" href="/humans.txt" />
    <meta name="application-name" content="{{data.Name}} - Assistant for No Man&#39;s Sky">
    <meta name="theme-color" content="#{{data.Colour}}">
    <meta name="description" content="{{data.Description}}">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="generator" content="program">
    <meta name="subject" content="{{data.Description}}">
    <meta name="rating" content="General">
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <link rel="canonical" href="https://nmsassistant.com">
    <link rel="author" href="humans.txt">
    <link rel="me" href="https://kurtlourens.com" type="text/html">
    <link rel="me" href="mailto:nms@kurtlourens.com">
    <link rel="index" href="https://nmsassistant.com/">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{{data.Name}} - Assistant for No Man&#39;s Sky">
    <meta itemprop="description" content="{{data.Description}}">
    <meta itemprop="image" content="{{data.Icon}}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://nmsassistant.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{data.Name}} - Assistant for No Man&#39;s Sky">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{data.Description}}">
    <meta property="og:site_name" content="{{data.Name}} - Assistant for No Man&#39;s Sky">
    <meta property="og:image" content="{{data.Icon}}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:site" content="@AssistantNMS">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{data.Name}} - Assistant for No Man&#39;s Sky">
    <meta name="twitter:description" content="{{data.Description}}">
    <meta name="twitter:image" content="{{data.Icon}}">
    <!-- Meta Tags Generated via http://heymeta.com -->

    <!-- Apple Meta Tags -->
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#{{data.Colour}}">
    <meta name="apple-itunes-app" content="app-id=id1480287625,app-argument=assistantNMSWeb">
    <link rel="apple-touch-icon" sizes="180x180" href="{{data.Icon}}">
    <!-- <link rel="apple-touch-startup-image" href="/path/to/launch.png"> -->
    <meta name="apple-mobile-web-app-title" content="{{data.Name}} - Assistant for No Man&#39;s Sky">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="alternate" href="ios-app://id1480287625/assistantNMSWeb">

    <!-- Google Meta Tags -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-play-app" content="app-id=com.kurtlourens.no_mans_sky_recipes">
    <link rel="alternate" href="android-app://com.kurtlourens.no_mans_sky_recipes/assistantNMSWeb">

    <!-- Microsoft Meta Tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#{{data.Colour}}">
    <meta name="msapplication-config" content="/browserconfig.xml">

    <link rel="preload" as="image" href="/assets/images/loader.svg">
    <style>
        .full-page-loader {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: white;
            background-color: #333333;
        }

        .full-page-loader img {
            width: 200px;
        }
    </style>

    {{!-- JSON-LD --}}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "SoftwareApplication",
            "name": "{{meta.title}}",
            "url": "https://nmsassistant.com",
            "about": "{{meta.description}}",
            "description": "{{meta.description}}",
            "image": "assets/images/icon.png",
            "applicationCategory": "Application",
            "operatingSystem": "Android Lollipop, iOS, Chrome, Firefox, Opera, Internet Explorer, Edge",
            "softwareVersion": "{{version}}",
            "version": "{{version}}",
            "author": {
                "@type": "Person",
                "name": "{{kurt.name}}",
                "givenName": "{{kurt.name}}",
                "familyName": "{{kurt.name}}",
                "additionalName": "{{kurt.additionalName}}",
                "url": "{{kurt.website}}",
                "image": "{{kurt.image}}",
                "description": "{{meta.description}}",
                "jobTitle": "Software Engineer"
            },
            "creator": {
                "@type": "Person",
                "name": "{{kurt.name}}",
                "givenName": "{{kurt.name}}",
                "familyName": "{{kurt.name}}",
                "additionalName": "{{kurt.additionalName}}",
                "url": "{{kurt.website}}",
                "image": "{{kurt.image}}",
                "description": "{{meta.description}}",
                "jobTitle": "Software Engineer"
            },
            "offers": {
                "@type": "offer",
                "price": "0",
                "priceCurrency": "USD",
                "name": "{{meta.title}}",
                "url": "https://nmsassistant.com",
                "image": "assets/images/icon.png",
                "description": "{{meta.description}}"
            },
            "inLanguage": "en",
            "dateCreated": "{{date}}",
            "dateModified": "{{date}}",
            "datePublished": "{{date}}"
        }
    </script>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="nms-app">
        <h1>{{data.Name}} - Assistant for No Man's Sky</h1>
        <div class="row border-bottom">
            <div style="background-color: {{data.Colour}};">
                <img src="{{data.Icon}}" title="{{data.Name}}" draggable="false" alt="{{data.Name}}">
            </div>
            <div class="col-12 col-lg-10 col-md-10 col-sm-8 col-xs-9">
                <h2>{{data.Name}}</h2>
                <h3>{{data.Group}}</h3>
                <h5>{{data.Description}}</h5>
            </div>
        </div>
        <div class="full-page-loader opacity80"></div>
        <div class="full-page-loader">
            <div class="cssload-container">
                <ul class="cssload-flex-container">
                    <li style="list-style-type: none;">
                        <img src="/assets/images/loader.svg" draggable="false" alt="loading-animation">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            try {
                var fullString = window.location.search.replace('?', '');
                var params = fullString.split('&')

                var lang;
                var name;
                for (let paramIndex = 0; paramIndex < params.length; paramIndex++) {
                    var param = params[paramIndex];
                    var nameValue = param.split('=');
                    if (nameValue[0].includes('lang')) {
                        lang = nameValue[1]
                        continue;
                    }
                    if (nameValue[0] != null) {
                        name = nameValue[0]
                    }
                }
                var urlSuffix = '';
                if (lang != null) urlSuffix += '/' + lang;
                if (name != null) urlSuffix += '/' + name;
                window.location.replace('/catalogue-item/build1' + urlSuffix);
            } catch (e) {
                console.log(e)
                window.location.replace('/catalogue-item/build1');
            }
        }
    </script>
</body>

</html>