<li>
    <a href="{{urlref link}}" title="{{title}}" target="_blank" rel="noopener noreferrer" class="icon {{class}}"
        alt="{{title}}" aria-label="{{title}}">
        {{#if imgUrl}}
        <img src="assets/images/loader.svg" data-src="{{imgUrl}}" class="lazy icon" alt="{{title}}" title="{{title}}"
            aria-label="{{title}}" />
        {{/if}}
    </a>
</li>